@import '~@angular/material/theming';
@import '../styles/palette.scss';
@include mat-core();

$supbank-primary: mat-palette($sup-primary);
$supbank-accent: mat-palette($sup-accent);

$supbank-warn: mat-palette($mat-red);

$supbank-theme: mat-light-theme($supbank-primary, $supbank-accent, $supbank-warn);

@include angular-material-theme($supbank-theme);
